@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightblue;
}

.quiz-container {
    &__title {
        text-transform: uppercase;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 54px;
        color: #F2F2F2;
    }
}

.quiz-widget {
    width: 470px;
    border-radius: 24px;
    background: #FFFFFF;
    padding: 68px 32px;
    display: flex;
    flex-direction: column;
    align-items: space-between;

    &__question {
        padding: 0;
        margin: 0;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        color: #2F527B;
        margin-bottom: 25px;
    }

    &__answers {
        border: none;
        padding: 0;
    }

    &__answer {
        
    }

    &__checkbox {
        input[type="radio"] {
            display: none;
        }

        span {
            box-sizing: border-box;
            display: inline-block;
            width: 100%;
            padding: 15px;
            text-transform: capitalize;
            border: 2px solid rgba(96, 102, 208, 0.7);
            border-radius: 12px;
            color: rgba(96, 102, 208, 0.7);
            font-size: 18px;
            font-weight: 500;
            line-height: 27px;
            margin-bottom: 25px;
        }

        input[type="checkbox"]:checked + span {
            background-color: gold;
            color: black;
        }
    }

    &__button {
        background: #F9A826;
        box-shadow: 0px 2px 4px rgba(252, 168, 47, 0.4);
        border-radius: 12px;
        width: 120px;
        height: 60px;
        border: none;
        margin-left: auto;

        a {
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 27px;
            text-decoration: none;
            color: #fff;
        }
    }
}